<div class="parent">
  <div class="child1">
    
    <h3 routerLink="login" style="cursor: pointer">login</h3>
    <h3 routerlink="databinding" style="cursor: pointer">data-binding</h3>
    <h3 routerLink="eventbinding" style="cursor: pointer">event-binding</h3>
    <h3 routerLink="twowaybinding" style="cursor: pointer">twowaybinding</h3>
    <h3 routerLink="event-regitration" style="cursor: pointer">event-regitration</h3>
    <h3 routerLink="student-registration" style="cursor: pointer">student-registration</h3>
    <h3 routerLink="cart" style="cursor: pointer">cart</h3>
    <h3 routerLink="employees" style="cursor: pointer">employees</h3>
    <h3 routerLink="pipes">pipes</h3>
    <h3 routerLink="cars" style="cursor: pointer">cars</h3>
    <h3 routerLink="gpay" style="cursor: pointer">gpay</h3>
    <h3 routerLink="vehicle" style="cursor: pointer">vehicle</h3>
    <h3 routerLink="account" style="cursor: pointer">account</h3>
    <h3 routerLink="items" style="cursor: pointer">items</h3>
    <h3 routerLink="mail" style="cursor: pointer">mail</h3>
    <h3 routerLink="client" style="cursor: pointer">client</h3>
    <h3 routerLink="createvehicle" style="cursor: pointer">createvehicle</h3>
    <h3 routerLink="create-user" style="cursor: pointer">createuser</h3>
    <h3 routerLink="parent" style="cursor: pointer">parent</h3>
    <h3 routerLink="child" style="cursor: pointer">child</h3>
    <h3 routerLink="star" style="cursor: pointer">star</h3>
    <h3 routerLink="product" style="cursor: pointer">product</h3>
    <h3 routerLink="nav"style="cursor: pointer">nav</h3>
    <h3 routerLink="cartlist"style="cursor: pointer">cartlist</h3>
    <h3 routerLink="vehicle-details" style="cursor: pointer">vehicle-details</h3>
    <h3 routerLink="payment" style="cursor: pointer"></h3>
    
    

    <div class="logout">
      <button (click)="logout()" class="logout">logout</button>
    </div>
    
  </div>
  <div class="child2">
    <router-outlet></router-outlet>
  </div>

</div>



