<div class="parent">
  <div class="child1">
    <h3 routerLink="login">login</h3>
    <h3 routerlink="databinding">data-binding</h3>
    <h3 routerLink="eventbinding">event-binding</h3>
    <h3 routerLink="twowaybinding">twowaybinding</h3>
    <h3 routerLink="event-regitration">event-regitration</h3>
    <h3 routerLink="student-registration">student-registration</h3>
    <h3 routerLink="cart">cart</h3>
    <h3 routerLink="employees">employees</h3>
    <h3 routerLink="pipes">pipes</h3>
    <h3 routerLink="cars">cars</h3>
    <h3 routerLink="gpay">gpay</h3>
    <h3 routerLink="vehicle">vehicle</h3>
    <h3 routerLink="account">account</h3>
    <h3 routerLink="items">items</h3>
    <h3 routerLink="mail">mail</h3>
    <h3 routerLink="client">client</h3>
    <h3 routerLink="createvehicle">createvehicle</h3>
    <h3 routerLink="create-user">createuser</h3>
    <h3 routerLink="parent">parent</h3>
    <h3 routerLink="child">child</h3>
    <h3 routerLink="star">star</h3>
    <h3 routerLink="product">product</h3>
    <h3 routerLink="nav">nav</h3>
    <h3 routerLink="cartlist">cartlist</h3>
    <h3 routerLink="vehicle-details">vehicle-details</h3>

    <div class="logout">
      <button (click)="logout()" class="logout">logout</button>
    </div>
    
  </div>
  <div class="child2">
    <router-outlet></router-outlet>
  </div>

</div>



