
.car home{height: 100vh; width: 100vw;display: flex;}
.A{background-color: black; color: white; height: 100%; width: 20%;}
.C{background-color: black; height: 100%; width: 80%; align-items: center;}
.C{  border: 10px; color: solid white;}